body,
html {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 100%    ;
}

.site-content{
    flex: 1;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-container {
    height: 70px;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    text-align: center;
    background: #6A98C9;
}

.logo {
    height: 80px;
    margin-right: 20px;
}

.search-bar {
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #FFFF;
    border-radius: 12px;
    background: #FFFF;
}

.search-input {
    font-size: 16px;
    width: 500px;
    border: none;
    background: transparent;
    padding: 15px;
    border-radius: 12px;
}

.search-button {
    padding: 8px 16px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding-right: 20px;
}

.search-button:hover {
    color: #6A98C9;
}

.logos-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: #ffffff;
}

.store-logo {
    height: 50px;
    width: auto;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    background-image: url('assets/images/banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
}


h1 {
    color: hsl(0, 0%, 13%);
    margin: 0;
    display: flex;
    justify-content: center;
    padding-left: 7%;
    width: 50%;
    line-height: 1;
    font-size: 43px;
    font-weight: 800;
}

#cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.card {
    width: 240px;
    height: 500px;
    margin: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 30px;
}

.card-image {
    height: 50%;
    width: 100%;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-info {
    height: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-info h3,
.card-info p,
.card-info a {
    margin: 5px 0;
    text-align: center;
}

.card-info h3 {
    line-height: 1;
    font-size: 14px;
}

.card-info p {
    font-size: 16px;
}

.price {
    color: red;
}

.card-info .product-button {
    padding: 10px 20px;
    background-color: #6A98C9;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.card-info .product-button:hover {
    background-color: #33669c;
}

.product-page {
    display: flex;
    align-items: start;
    margin: 30px 0;
    padding: 0 7%;
}

.filters {
    display: none;
    margin-right: 20px;
}

#searchResultText {
    display: none;
    color: #ccc;
    margin: 40px 7% 20px;
    font-size: 25px;
}

.filter-section {
    background-color: #6a98c9cb;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.label-title {
    display: block;
    font-weight: bold;
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
    color: #FFF;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;
}

.filter-section label {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin: 5px 0;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-section input[type="radio"],
.filter-section input[type="checkbox"] {
    display: none;
}

.filter-section input[type="radio"]:checked+label,
.filter-section input[type="checkbox"]:checked+label {
    background-color: #33669c;
    color: white;
}

.filter-section label:hover {
    background-color: #e7f1ff;
}

.filter-section input[type="checkbox"]:checked+label {
    background-color: #33669c;
    color: white;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin-right: 5px;
}

.page-button {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #6A98C9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: red 0.2s;
}

.page-button:hover {
    background-color: #33669c;
}

.page-button.active {
    background-color: #33669c;
}

.site-footer {
    background-color: #6A98C9;
    width: 100%;
    height: 60px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-footer p{
    display: flex;
    justify-content: center;
}